[PageInfo]
pagetitle   : Labor DB
description : Database Access - General Labor/Labor Categories/Labor Projects

[Top of Page Links]
top_of_page_links : <div>
    : <a class="bigblue" href="http://www.bennettconstruction.us/index.html" rel="external">Bennett Construction</a><br />
    : <a class="biggreen" href="/perl/VP/manual.pl" rel="external">MANUAL</a><br />
    : <a class="bigblue" href="/perl/VP/gl.pl" rel="external">Labor Projects</a><br />
    : <a class="bigblue" href="/perl/VP/pg.pl" rel="external">Products Vendors Customers Assemblies</a><br />
    : <a class="bigblue" href="/perl/VP/tr.pl" rel="external">Materials Viewer and Duplicator</a><br />
    : <a class="bigblue" href="/perl/VP/lab.pl" rel="external">Labor Viewer and Duplicator</a><br />
    : <a class="bigblue" href="/perl/VP/ph.pl" rel="external">Photos Galleries</a><br />
    : <a class="bigred" href="/logout">Log Off</a>
    : </div>
: <div>
: <h2>This is a test database</h2>
: <p>Please feel free to insert and update anything</p>
: <p>Be sure to try inserting multiple items by setting Items to Insert in Group to a setting higher than 1.<br />
: This will allow you to use JavaScript to duplicate fields down entire list.</p>
: <p>To see manual pages in English, add ?lang=en to manual URL.<br />
: To see manual pages in Spanish, add ?lang=es to manual URL.</p>
: </div>

[Program]
program_path_name : /perl/VP/gl.pl

[Database]
username : bencon
password : L59mEq89Pn
database : gl
hostname : 127.0.0.1
port : 5432
pg_enable_utf8 : 1

[Commands]
commands : ViewRecords
commands : InsertRecordGroupForm
commands : UpdateRecordForm
commands : InsertRecordGroup
commands : UpdateRecord
commands : ShowColumns
commands : ShowTables
commands : ShowAllTables
commands : DeleteRecord
commands : DeleteRecordForm

[FieldsAndTables]
# Field then Table
Pair : labor_project_list_category
Pair : labor_project_list

Pair : labor_project_list_subcategory
Pair : labor_project_list

Pair : labor_project_class
Pair : labor_project

Pair : labor_project_subclass
Pair : labor_project

Pair : labor_project_section
Pair : labor_project

[OrderBy]
labor_project_list : labor_project_list_category, labor_project_list_subcategory, labor_project_list_name
labor_project      : labor_project_name, labor_project_section, labor_project_class, labor_project_subclass
labor_category     : labor_category_category, labor_category_subcategory
contractors        : contractor_business_name, contractor_contact_lname

